@model Coursework.studio

@{
    ViewBag.Title = "Delete";
}

<div class="content">
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>studio</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.headquarter)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.headquarter)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.website)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.website)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.logo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.logo)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>

